div.export-ops {
	padding-top: 6px;
}
.export-ops span:nth-of-type(1) {
	border: 1px solid grey;
	padding: 5px 10px;
	margin-left: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.export-ops span:nth-of-type(2) {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 5px 10px;
	margin-left: -3px;
}
.export-ops span:nth-of-type(3) {
	border: 1px solid grey;
	padding: 5px 10px;
	margin-left: -3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
}