@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
	}
	
/*Navbar*/
a i {
	font-size: 20px
}
.fa-info {
	font-size: 21px
}
.fa-comments-o, .fa-cogs {
	font-size: 21px
}
.dropdown-menu {
	min-width: 250px;
	background: #eee;
}
.dropdown-menu p {
	padding-left: 19px
}
sup {
	background: #3498db;
	color: white;
    padding: 1px 4px;
    border-radius: 39px;
    margin-top: -56px !important;
    top: -7px !important;
}

/* Count */
#count-nc, #count-cb, #count-ut, #count-ct {
	/*width: 250px;*/
	height: 140px;
	background: #3498db;
	margin:0px;
	border-radius: 5px;
    margin-bottom: 10px;
}
#count-cb {
	background: #e74c3c;
}
#count-ut {
	background: #e67e22;
}
#count-ct {
	background: #2ecc71;
}
.count {
  line-height: 100px;
  color:white;
  margin-left:20px;
  font-size:35px;
  font-weight:bold;
}
#counter-sec {
	margin: 100px 0px 50px 50px
}	
#counter-sec .col-md-3 {
	position: relative;
	/*margin-left: 20px*/
}
#counter-sec h5, h6 {
	position: absolute;
    margin-left: 21px;
	color: white;
	
}
#counter-sec h5 {
	margin-top: 85px;
    color: white;
	font-size: 16px;
	font-weight: 600;
}
#counter-sec h6 {
	margin-top: 110px;
    font-size: 12px;
	font-weight: 400;
}

.badge {
    position: absolute;
    padding: 2px;
    font-size: 10px;
    right: 1px;
    top: 2px;
    min-width: 17px;
    line-height: 12px;
}	
		
/* Scheduler */
#wrap {
width: 1255px;
margin: 0 auto;
border: 1px solid #eee;
padding: 10px;
}
#wrap h2 {
    font-size: 18px;
}
#wrap h3 {
    margin-top: 0;
    text-align: left
}
    
#external-events {
    margin-top: 43px;
    float: left;
    width: 14%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}
    
#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}
    
#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    padding: 5px
}
    
#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}
    
#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    float: right;
    width: 85%;
}

/* Order History */
.export-op span:nth-of-type(1) {
    border: 1px solid grey;
    padding: 3px 10px;
    margin-left: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.export-op span:nth-of-type(2) {
    border: 1px solid grey;
    padding: 3px 10px;
    margin-left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.export-op {
    margin-left: 65px;
    margin-top: -5px;
}
#order-table_wrapper {
    margin-top: 70px
}
.form-control {
    height:28px;
    border-radius: 0;
    font-size: 12px
}
label {
    font-weight: normal;
}
#order-history {
    margin: 30px 50px;
    border: 1px solid #eee;
    padding: 20px
}
#order-history  h3{
    margin-top: -10px;
} 
td{
    border: 1px solid #e3e3e3;
    font-size: 12px;
}
th {
    border: 1px solid #eee !important;
    text-align: center;
    font-size: 12px
}
.dataTables_info, .dataTables_paginate {
    margin-top: 20px !important
}
    
/*Profile Section*/
#profile-details{
    margin: 85px 35px 0 40px;
    background: #eee;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 10px;
}
#profile-details p {
        text-align: left        
}
.profile-text {
        border-right: 1px solid #B5B3B3;
}
.profile-img {
        width: 90px;
        height: 90px;
        margin-right: 30px;
}
.profile-text {
        text-align: left;
        margin-top: 5px;
}
.profile-text p:nth-of-type(2) {
        font-weight: lighter;
        font-style: italic;
        font-size: 12px
}
#tline-num p,h1{
        text-align: center
}


/*TimeLine Section*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 7px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
    width: 20px;
    height: 20px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 31px;
    left: 52.5%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/*End of Timeline Styling*/


/*Comment Section*/
#cust-name {
        text-align: left !important;
        margin-top: 20px;
}
#cust-name p:nth-of-type(1) {
        font-size: 12px;
        font-weight: 100;
        color: #777777;
        text-align: left;
        line-height: 1px;
        padding-top: 1em;
}
#cust-name p:nth-of-type(2) {
        font-size: 9px;
        font-weight: lighter;
        color: #939393;
        text-align: left;
}
#cust-comment {
        text-align: left;
        font-weight: lighter;
        line-height: 1em;
        text-align: justify;
        font-size: 12px;
        color: #777777;
        margin-top: 20px
}
#cust-comment button {
        padding: 4px 6px;
        margin-top: 5px;
        font-size: 12px;
        font-weight: 100;
        border-radius: 0;
        
}

.glyphicon {
        color: #5bc0de
}

/*Media Queries*/
/*Border on Timeline*/
@media (max-width: 768px) {
        .profile-text {
                border-right: hidden;
        }
}

/*Boxes left margin*/
@media (max-width: 768px) {
        #counter-sec {
                margin: 80px 0 40px 0;
        }
}
